STALZONE_CLIENT_ID=
STALZONE_CLIENT_SECRET= 
DATABASE_URL=
SECRET_KEY=
GITHUB_TOKEN=
GITHUB_REPOSITORY=EXBO-Studio/stalzone-database
GITHUB_BRANCH=main
GITHUB_ITEMS_PATH=global/items
GITHUB_HIDEOUT_RECIPES_PATH=global/hideout_recipes.json
SYNC_RUN_ON_STARTUP=true
SYNC_INTERVAL_HOURS=24
SYNC_DOWNLOAD_CONCURRENCY=10
STALZONE_API_BASE_URL=https://eapi.stalcraft.net
AUCTION_REGIONS=EU
AUCTION_REQUESTS_PER_MINUTE=180
AUCTION_LOTS_REFRESH_MINUTES=10
AUCTION_HISTORY_REFRESH_HOURS=6
AUCTION_SYNC_INTERVAL_MINUTES=1
