STALZONE_CLIENT_ID=
STALZONE_CLIENT_SECRET= 
DATABASE_URL=
SECRET_KEY=
GITHUB_TOKEN=
GITHUB_REPOSITORY=EXBO-Studio/stalzone-database
GITHUB_BRANCH=main
GITHUB_ITEMS_PATH=global/items
SYNC_INTERVAL_HOURS=24
SYNC_DOWNLOAD_CONCURRENCY=10
