STALZONE_CLIENT_ID=
STALZONE_CLIENT_SECRET= 
DATABASE_URL=
SECRET_KEY=
GITHUB_TOKEN=
GITHUB_REPOSITORY=EXBO-Studio/stalzone-database
GITHUB_BRANCH=main
GITHUB_ITEMS_PATH=global/items
GITHUB_HIDEOUT_RECIPES_PATH=global/hideout_recipes.json
SYNC_RUN_ON_STARTUP=true
SYNC_INTERVAL_HOURS=24
SYNC_DOWNLOAD_CONCURRENCY=10
STALZONE_API_BASE_URL=https://eapi.stalcraft.net
AUCTION_REGIONS=EU
AUCTION_REQUESTS_PER_MINUTE=180
CRAFT_LOTS_REFRESH_MINUTES=30
CRAFT_HISTORY_REFRESH_HOURS=12
MARKET_LOTS_REFRESH_MINUTES=240
MARKET_HISTORY_REFRESH_HOURS=48
AUCTION_EMPTY_PROBE_LIMIT=5
AUCTION_SYNC_INTERVAL_MINUTES=1
TEST_AUTO_LOGIN=false
TEST_ADMIN_USERNAME=test123
TEST_ADMIN_PASSWORD=qwerty123
